/* Font styles */
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Caudex:ital@1&family=Molengo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:500');

.SearchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../assets/wallpaper5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 25rem;
  }
  
  .SearchBar-sort-options ul {
    display: flex;
    justify-content: center;
    margin-bottom: 2.22rem;
    margin-top: 5rem;
    color: black;
  }
  
  .SearchBar-sort-options li {
    cursor: pointer;
    width: 4.33rem;
    padding: 0 2.58rem .33rem 2.58rem;
    line-height: 1.13;
    text-align: center;
    font-weight: 600;
    font-family: 'Molengo', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.1vmin;
    transition: color .25s;
    list-style-type: none;
  }
  
  .SearchBar-sort-options li:hover {
    color: #CC3E40;
  }
  
  .SearchBar-sort-options li.active,
  .SearchBar-sort-options li.active:hover {
    border-bottom: 1px solid black;
    color: #CC3E40;
  }
  
  .SearchBar-fields {
    display: flex;
    justify-content: center;
    margin-bottom: 2.88rem;
  }
  
  .SearchBar-fields input {
    width: 20rem;
    padding: .66rem 1rem;
    margin-right: 2.22rem;
    border: 1px solid rgb(117, 66, 66);
    border-radius: 4px;
    font-weight: 600;
    font-family: 'Molengo', sans-serif;
    font-size: 1rem;
    color: black;
  }
  
  .SearchBar-fields input:last-child {
    margin-right: 0;
  }
  
  .SearchBar-submit {
    text-align: center;
  }
  
  .SearchBar-submit a {
    border-radius: 6px;
    padding: .72rem 1.7rem;
    background-color: #420C14;
    color: white;
    font-weight: 800;
    font-family: 'Rubik', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.25vmin;
    transition: background-color .5s;
  }
  
  .SearchBar-submit a:hover {
    cursor: pointer;
    background-color: #98994F;
  }
  
  @media only screen and (max-width: 560px) {
    .SearchBar {
      background-image: url('../assets/wallpaper5.jpg');
    }
  
    .SearchBar-sort-options ul {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  
    .SearchBar-fields {
      flex-direction: column;
      align-items: center;
    }
  
    .SearchBar-fields input {
      margin-right: 0;
      margin-bottom: .86rem;
    }
  }